*.iml
.gradle
/gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
app/debug
.app/build/*
.app/build/intermediates/*
.car/build/*
.car/build/intermediates/*
.shosetsuwear/build/*
.shosetsuwear/build/intermediates/*
.shosetsutv/build/*
.shosetsutv/build/intermediates/*
.shosetsucar/build/*
.shosetsucar/build/intermediates/*
.shosetsulib/build/*
.shosetsulib/build/intermediates/*
.backend/build/*
.backend/build/intermediates/*

