*.iml
.gradle
/gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild

# hide releases
android/standard/*
android/playstore/*
android/fdroid/*
android/uptodown/*


android/build/*
android/build/intermediates/*
android/schemas/*
android/database

common/build/*
common/build/intermediates/*

# Secrets
acra.properties
