*.iml
.gradle
/gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild

android/release
android/debug

.android/build/*
.android/build/intermediates/*


common/build/*
common/build/intermediates/*

